@import url(./reset.css);

html {
    position: relative;
    min-height: 100vh;
}

body {
    background: #fff;
    color: #3d4144;
    &::-webkit-scrollbar {
        display: none;
    }
    font-size: 16px;
}