*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(135, 244, 102);
    color: #fff;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}